---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Header from "../components/Header.astro";
import Footer from "@/components/Footer.astro";
import Category from "../components/Category.astro";
import BestAudioGear from "../components/BestAudioGear.astro";
---

<Layout title="Frontend Mentor | Audiophile e-commerce website">
  <!-- Header -->
  <Header />
  <main>
    <!-- Page Content Of EARPHONES -->
    <section
      class="mb-[7.5rem] flex items-center justify-center bg-[#000] px-[5.97rem] pb-8 pt-[2.06rem] text-center md:px-[16.16rem] md:pb-[6.06rem] md:max-xl:pt-[6.62rem] lg:px-[37.16rem] lg:pt-[6.19rem]"
    >
      <h1
        class="text-[1.75rem] font-bold uppercase leading-normal tracking-[0.125rem] text-[#fff]"
      >
        EARPHONES
      </h1>
    </section>
    <!-- First Product Of EARPHONES -->
    <section
      class="mx-6 mb-[7.5rem] mt-16 flex flex-col items-center justify-center gap-8 md:ml-[2.44rem] md:mr-[2.5rem] md:mt-[7.5rem] md:gap-[3.25rem] lg:mx-[10.31rem] lg:mt-40 lg:flex-row lg:justify-between lg:gap-32"
    >
      <!-- Image Of The Product -->
      <div class="">
        <picture>
          <source
            media="(min-width:1024px)"
            srcset="/images/product-yx1-earphones/desktop/image-category-page-preview.jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="/images/product-yx1-earphones/tablet/image-category-page-preview.jpg"
          />
          <img
            src="/images/product-yx1-earphones/mobile/image-category-page-preview.jpg"
            alt=""
            class="rounded-lg"
          />
        </picture>
      </div>
      <!-- Detailes Of The Product -->
      <div
        class="flex flex-col items-center justify-center gap-6 text-center md:w-[35.75rem] lg:w-[27.8125rem] lg:items-start lg:text-left"
      >
        <h2
          class="text-sm font-normal uppercase leading-normal tracking-[0.625rem] text-[#D87D4A]"
        >
          NEW PRODUCT
        </h2>
        <h2
          class="w-[14.438rem] text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-[#000] md:w-[19.438remS] md:max-xl:text-[2.5rem] md:max-xl:leading-[2.75rem] md:max-xl:tracking-[0.08931rem]"
        >
          YX1 WIRELESS EARPHONES
        </h2>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50 md:mt-2 lg:mt-4"
        >
          Tailor your listening experience with bespoke dynamic drivers from the
          new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even
          in noisy environments with its active noise cancellation feature.
        </p>
        <div
          class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-center transition-all duration-500 ease-in-out hover:bg-[#FBAF85] lg:mt-6"
        >
          <a
            href="/product-earphones"
            class="cursor-pointer text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff]"
            >See Product</a
          >
        </div>
      </div>
    </section>
    <Category />
    <BestAudioGear />
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
