---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Header from "../components/Header.astro";
import Footer from "@/components/Footer.astro";
import Category from "../components/Category.astro";
import BestAudioGear from "../components/BestAudioGear.astro";
---

<Layout title="Frontend Mentor | Audiophile e-commerce website">
  <!-- Header -->
  <Header />
  <main>
    <!-- Go Back Link -->
    <section
      class="mx-6 mb-8 mt-4 md:mx-10 md:mb-6 md:mt-[2.06rem] lg:mx-[10.31rem] lg:mb-14 lg:mt-[4.94rem]"
    >
      <a
        href="/"
        class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
        >Go Back
      </a>
    </section>
    <!-- XX99 Mark II Headphones -->
    <section
      class="mx-6 flex flex-col gap-8 md:mx-10 md:flex-row md:items-center md:gap-[4.34rem] lg:mx-[10.31rem] lg:items-center lg:gap-[7.81rem]"
    >
      <!-- Product Image -->
      <picture>
        <source
          media="(min-width:1024px)"
          srcset="/images/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg"
        />
        <source
          media="(min-width:768px)"
          srcset="/images/product-xx99-mark-two-headphones/tablet/image-product.jpg"
        />
        <img
          src="/images/product-xx99-mark-two-headphones/mobile/image-category-page-preview.jpg"
          alt=""
          class="rounded-lg"
        />
      </picture>
      <!-- Product Info -->
      <div class="flex flex-col gap-6 md:gap-4">
        <h2
          class="text-sm font-normal uppercase leading-normal tracking-[0.625rem] text-[#D87D4A]"
        >
          NEW PRODUCT
        </h2>
        <h2
          class="text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-[#000] md:leading-[2rem] lg:text-[2.5rem] lg:leading-[2.75rem] lg:tracking-[0.08931rem]"
        >
          XX99 Mark II Headphones
        </h2>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50 md:w-[21.1875rem] md:max-xl:mt-4"
        >
          The new XX99 Mark II headphones is the pinnacle of pristine audio. It
          redefines your premium headphone experience by reproducing the
          balanced depth and precision of studio-quality sound.
        </p>
        <h3
          class="text-lg font-bold uppercase tracking-[0.08038rem] text-[#000] md:max-xl:mt-4"
        >
          $ 2,999
        </h3>
        <!-- Shop The Product -->
        <div class="flex items-center gap-8 md:max-xl:mt-[1.94rem]">
          <div
            class="flex h-12 w-[7.5rem] items-center justify-center gap-4 bg-[#F1F1F1] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-[#000]"
          >
            <button
              type="button"
              class="minusBtn opacity-25 transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
            >
              -
            </button>
            <button type="button" class="minusBtn"> 1 </button>
            <button
              type="button"
              class="PlusBtn opacity-25 transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
            >
              +
            </button>
          </div>
          <button
            type="button"
            class="leading-noraml h-12 w-40 cursor-pointer bg-[#D87D4A] text-sm font-bold uppercase tracking-[0.0625rem] text-[#fff] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
            >ADD TO CART</button
          >
        </div>
      </div>
    </section>
    <!-- Features & In The Box -->
    <section
      class="mx-6 mt-[5.5rem] flex flex-col gap-[5.5rem] md:mx-10 md:mt-[7.5rem] md:gap-[7.5rem] lg:mx-[10.31rem] lg:mt-40 lg:flex-row lg:items-start"
    >
      <!-- FEATURES -->
      <div class="flex flex-col gap-6 text-[#000] md:gap-8">
        <h2
          class="text-2xl font-bold uppercase leading-[2.25rem] tracking-[0.05356rem] md:text-[2rem] md:tracking-[0.07144rem]"
        >
          FEATURES
        </h2>
        <p class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-50">
          Featuring a genuine leather head strap and premium earcups, these
          headphones deliver superior comfort for those who like to enjoy
          endless listening. It includes intuitive controls designed for any
          situation. Whether you&acute;re taking a business call or just in your
          own personal space, the auto on/off and pause features ensure that
          you&acute;ll never miss a beat.
        </p>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-50 md:w-[43.0625rem]"
        >
          The advanced Active Noise Cancellation with built-in equalizer allow
          you to experience your audio world on your terms. It lets you enjoy
          your audio in peace, but quickly interact with your surroundings when
          you need to. Combined with Bluetooth 5. 0 compliant connectivity and
          17 hour battery life, the XX99 Mark II headphones gives you superior
          sound, cutting-edge technology, and a modern design aesthetic.
        </p>
      </div>
      <!-- In The Box -->
      <div
        class="flex flex-col gap-6 text-[#000] md:flex-row md:gap-44 lg:flex-col lg:gap-8"
      >
        <h2
          class="text-2xl font-bold uppercase leading-[2.25rem] tracking-[0.05356rem] md:text-[2rem] md:tracking-[0.07144rem]"
        >
          in the box
        </h2>
        <div class="">
          <div class="flex gap-6">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] opacity-50"
            >
              Headphone Unit
            </h3>
          </div>
          <div class="flex gap-[1.31rem]">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              2x
            </h3>
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] opacity-50"
            >
              Replacement Earcups
            </h3>
          </div>
          <div class="flex gap-6">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] opacity-50"
            >
              User Manual
            </h3>
          </div>
          <div class="flex gap-6">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] opacity-50"
            >
              3.5mm 5m Audio Cable
            </h3>
          </div>
          <div class="flex gap-6">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] opacity-50"
            >
              Travel Bag
            </h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Images  -->
    <section
      class="mx-6 mb-28 mt-24 flex flex-col gap-4 md:mx-10 md:my-32 md:flex-row lg:mx-[10.31rem] lg:my-40"
    >
      <!-- First Col -->
      <div class="flex flex-col gap-4 lg:gap-8">
        <!-- First Image / Gallery 1-->
        <picture>
          <source
            media="(min-width:1024px)"
            srcset="/images/product-xx99-mark-two-headphones/desktop/image-gallery-1.jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="/images/product-xx99-mark-two-headphones/tablet/image-gallery-1.jpg"
          />
          <img
            src="/images/product-xx99-mark-two-headphones/mobile/image-gallery-1.jpg"
            alt=""
            class="rounded-lg"
          />
        </picture>
        <!-- First Image / Gallery 2-->
        <picture>
          <source
            media="(min-width:1024px )"
            srcset="/images/product-xx99-mark-two-headphones/desktop/image-gallery-2.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="/images/product-xx99-mark-two-headphones/tablet/image-gallery-2.jpg"
          />
          <img
            src="/images/product-xx99-mark-two-headphones/mobile/image-gallery-2.jpg"
            alt=""
            class="rounded-lg"
          />
        </picture>
      </div>
      <!-- Second Col / Gallery 3-->
      <picture>
        <source
          media="(min-width:1024px )"
          srcset="/images/product-xx99-mark-two-headphones/desktop/image-gallery-3.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="/images/product-xx99-mark-two-headphones/tablet/image-gallery-3.jpg"
        />
        <img
          src="/images/product-xx99-mark-two-headphones/mobile/image-gallery-3.jpg"
          alt=""
          class="rounded-lg"
        />
      </picture>
    </section>
    <!-- You May Also Like -->
    <section
      class="mx-6 my-32 flex flex-col items-center justify-center gap-10 text-[#000] md:mx-10 md:my-28 md:gap-14 lg:mx-[10.31rem] lg:my-40 lg:gap-16"
    >
      <h2
        class="text-2xl font-bold uppercase leading-[2.25rem] tracking-[0.05356rem]"
      >
        you may also like
      </h2>
      <div
        class="flex flex-col items-center justify-center gap-14 md:flex-row md:gap-4 lg:gap-[1.88rem]"
      >
        <div class="flex flex-col items-center justify-center gap-8">
          <picture>
            <source
              media="(min-width:1024px )"
              srcset="/images/shared/desktop/image-xx99-mark-one-headphones.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/images/shared/tablet/image-xx99-mark-one-headphones.jpg"
            />
            <img
              src="/images/shared/mobile/image-xx99-mark-one-headphones.jpg"
              alt=""
              class="rounded-lg"
            />
          </picture>
          <h2
            class="text-2xl font-bold uppercase leading-normal tracking-[0.10713rem]"
          >
            XX99 MARK I
          </h2>
          <div
            class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
          >
            <a
              href="/product-xx99-mark-one-headphones"
              class="font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff]"
              >See Product</a
            >
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-8">
          <picture>
            <source
              media="(min-width:1024px )"
              srcset="/images/shared/desktop/image-xx59-headphones.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/images/shared/tablet/image-xx59-headphones.jpg"
            />
            <img
              src="/images/shared/mobile/image-xx59-headphones.jpg"
              alt=""
              class="rounded-lg"
            />
          </picture>
          <h2
            class="text-2xl font-bold uppercase leading-normal tracking-[0.10713rem]"
          >
            XX59
          </h2>
          <div
            class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
          >
            <a
              href="/product-xx59-headphones"
              class="font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff]"
              >See Product</a
            >
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-8">
          <picture>
            <source
              media="(min-width:1024px )"
              srcset="/images/shared/desktop/image-zx9-speaker.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/images/shared/tablet/image-zx9-speaker.jpg"
            />
            <img
              src="/images/shared/mobile/image-zx9-speaker.jpg"
              alt=""
              class="rounded-lg"
            />
          </picture>
          <h2
            class="text-2xl font-bold uppercase leading-normal tracking-[0.10713rem]"
          >
            ZX9 SPEAKER
          </h2>
          <div
            class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
          >
            <a
              href="/product-zx9-speaker"
              class="font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff]"
              >See Product</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Category -->
    <Category />
    <!--  Best Audio Gear -->
    <BestAudioGear />
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
