---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Header from "../components/Header.astro";
import Footer from "@/components/Footer.astro";
import Category from "../components/Category.astro";
import BestAudioGear from "../components/BestAudioGear.astro";
---

<Layout title="Frontend Mentor | Audiophile e-commerce website">
  <!-- Header -->
  <Header />
  <!-- YX1 WIRELESS EARPHONES-->
  <main>
    <section
      class="mx-[10.31rem] mb-[10rem] mt-[4.94rem] flex items-center justify-between gap-[7.81rem]"
    >
      <!-- Product Image -->
      <div class="flex flex-col gap-[3.5rem]">
        <a
          href="/"
          class="inline-block text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
          >Go Back
        </a>
        <img
          src="/images/product-yx1-earphones/desktop/image-product.jpg"
          alt=""
          class="inline-block h-[35rem] w-[33.75rem] rounded-lg"
        />
      </div>
      <!-- Product Info -->
      <div class="flex flex-col gap-4">
        <h2
          class="text-sm font-normal uppercase leading-normal tracking-[0.625rem] text-[#D87D4A]"
        >
          NEW PRODUCT
        </h2>
        <h2
          class="w-[27.8125rem] text-[2.5rem] font-bold uppercase leading-[2.75rem] tracking-[0.08931rem]"
        >
          YX1 WIRELESS EARPHONES
        </h2>
        <p
          class="mt-4 w-[27.8125rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
        >
          Tailor your listening experience with bespoke dynamic drivers from the
          new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even
          in noisy environments with its active noise cancellation feature.
        </p>
        <h3
          class="mt-4 text-lg font-bold uppercase leading-normal tracking-[0.08038rem] text-[#000]"
        >
          $ 599
        </h3>
        <!-- Shop The Product -->
        <div class="flex items-center gap-4">
          <div
            class="flex h-12 w-[7.5rem] items-center justify-center gap-[1.31rem] bg-[#F1F1F1]"
          >
            <button type="button" class="minusBtn"> - </button>
            <button type="button" class="minusBtn"> 1 </button>
            <button type="button" class="PlusBtn"> + </button>
          </div>
          <button
            type="button"
            class="h-12 w-40 bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff]"
            >ADD TO CART</button
          >
        </div>
      </div>
    </section>
    <!-- Features & In The Box -->
    <section
      class="mx-[10.31rem] mb-40 flex items-center justify-between gap-[7.81rem]"
    >
      <!-- FEATURES -->
      <div class="w-[39.6875rem ] flex flex-col gap-8">
        <h2
          class="text-[2rem] uppercase leading-[2.25rem] tracking-[0.07144rem] text-[#000]"
        >
          FEATURES
        </h2>
        <p
          class="w-[39.6875rem] text-[0.9375rem] font-normal text-[#000] opacity-50"
        >
          Experience unrivalled stereo sound thanks to innovative acoustic
          technology. With improved ergonomics designed for full day wearing,
          these revolutionary earphones have been finely crafted to provide you
          with the perfect fit, delivering complete comfort all day long while
          enjoying exceptional noise isolation and truly immersive sound.
        </p>
        <p
          class="w-[39.6875rem] text-[0.9375rem] font-normal text-[#000] opacity-50"
        >
          The YX1 Wireless Earphones features customizable controls for volume,
          music, calls, and voice assistants built into both earbuds. The new
          7-hour battery life can be extended up to 28 hours with the charging
          case, giving you uninterrupted play time. Exquisite craftsmanship with
          a splash resistant design now available in an all new white and grey
          color scheme as well as the popular classic black.
        </p>
      </div>
      <!-- In The Box -->
      <div class="flex h-[14.0625rem] w-[21.875rem] flex-col gap-8">
        <h2
          class="text-[2rem] font-bold uppercase leading-[2.5rem] tracking-[0.07144rem] text-[#000]"
        >
          in the box
        </h2>
        <div class="flex flex-col gap-4">
          <div class="flex gap-[1.5rem]">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              2x
            </h3>
            <h3
              class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
            >
              Earphone Unit
            </h3>
          </div>
          <div class="flex gap-[1.5rem]">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              6x
            </h3>
            <h3
              class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
            >
              Multi-size Earplugs
            </h3>
          </div>
          <div class="flex gap-[1.5rem]">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
            >
              User Manual
            </h3>
          </div>
          <div class="flex gap-[1.5rem]">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
            >
              USB-C Charging Cable
            </h3>
          </div>
          <div class="flex gap-[1.5rem]">
            <h3
              class="text-[0.9375rem] font-bold leading-[1.5625rem] text-[#D87D4A]"
            >
              1x
            </h3>
            <h3
              class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
            >
              Travel Pouch
            </h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Images  -->
    <section
      class="mx-[10.31rem] mb-40 flex items-center justify-between gap-2"
    >
      <!-- First Col -->
      <div class="flex flex-col gap-8">
        <!-- First Image / Gallery 1-->
        <div class="">
          <img
            src="/images/product-yx1-earphones/desktop/image-gallery-1.jpg"
            alt=""
            class="rounded-lg"
          />
        </div>
        <!-- Second Image / Gallery 2-->
        <div class="">
          <img
            src="/images/product-yx1-earphones/desktop/image-gallery-2.jpg"
            alt=""
            class="rounded-lg"
          />
        </div>
      </div>
      <!-- Second Col / Gallery 3-->
      <div class="">
        <img
          src="/images/product-yx1-earphones/desktop/image-gallery-3.jpg"
          alt=""
          class="rounded-lg"
        />
      </div>
    </section>
    <!-- You May Also Like -->
    <section
      class="mx-[10.31rem] mb-40 flex flex-col items-center justify-center gap-12"
    >
      <h2
        class="text-[2rem] font-bold uppercase leading-[2.5rem] tracking-[0.07144rem] text-[#000]"
      >
        you may also like
      </h2>
      <div class="flex items-center justify-center gap-[1.88rem] text-center">
        <div class="flex flex-col items-center justify-center gap-8">
          <img
            src="/images/shared/desktop/image-xx99-mark-one-headphones.jpg"
            alt=""
            class="h-[19.875rem] w-[21.875rem] rounded-lg bg-[#F1F1F1]"
          />
          <h2
            class="text-[1.5rem] font-bold
            leading-normal
            tracking-[0.10713rem]
            text-[#000]"
          >
            XX99 MARK I
          </h2>
          <a
            href="/product-xx99-mark-one-headphones"
            target="_self"
            class="mt-6 flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
            >See Product</a
          >
        </div>
        <div class="flex flex-col items-center justify-center gap-8">
          <img
            src="/images/shared/desktop/image-xx59-headphones.jpg"
            alt=""
            class="h-[19.875rem] w-[21.875rem] rounded-lg bg-[#F1F1F1]"
          />
          <h2
            class="text-[1.5rem] font-bold uppercase leading-normal tracking-[0.10713rem] text-[#000]"
          >
            XX59
          </h2>
          <a
            href="/product-xx59-headphones"
            target="_self"
            class="mt-6 flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
            >See Product</a
          >
        </div>
        <div class="flex flex-col items-center justify-center gap-8">
          <img
            src="/images/shared/desktop/image-zx9-speaker.jpg"
            alt=""
            class="h-[19.875rem] w-[21.875rem] rounded-lg bg-[#F1F1F1]"
          />
          <h2
            class="text-[1.5rem] font-bold uppercase leading-normal tracking-[0.10713rem] text-[#000]"
          >
            ZX9 SPEAKER
          </h2>
          <a
            href="/product-zx9-speaker"
            target="_self"
            class="mt-6 flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-[#fff] transition-all duration-500 ease-in-out hover:bg-[#FBAF85]"
            >See Product</a
          >
        </div>
      </div>
    </section>
    <!-- Category -->
    <Category />
    <!--  Best Audio Gear -->
    <BestAudioGear />
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
