---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Header from "../components/Header.astro";
import Footer from "@/components/Footer.astro";
import Category from "../components/Category.astro";
import BestAudioGear from "../components/BestAudioGear.astro";

---
<Layout title="Frontend Mentor | Audiophile e-commerce website">
  <!-- Header -->
  <Header />
  <main>
    <!-- Page Content Of SPEAKERS -->
    <section
      class="bg-[#0E0E0E] text-[#fff] text-[2.5rem] font-bold leading-[2.75rem] tracking-[0.08931rem] uppercase flex justify-center items-center py-[6.6rem]"
    >
      <h1 class="">SPEAKERS</h1>
    </section>
        <!-- First Product Of SPEAKERS -->
        <section
        class="mx-[10.31rem] my-40 flex justify-between items-center gap-[7.81rem]"
      >
        <!-- Image Of The Product -->
        <div class="w-[33.75rem]">
          <img
            src="/images/shared/desktop/image-zx9-speaker.jpg"
            alt=""
            class=""
          />
        </div>
        <!-- Detailes Of The Product -->
        <div class="flex flex-col gap-4">
          <h2
            class="text-[#D87D4A] text-sm font-normal leading-normal tracking-[0.625rem] uppercase"
          >
            NEW PRODUCT
          </h2>
          <h2
            class="w-[27.8125rem] text-[#000] text-[2.5rem] font-bold leading-[2.75rem] tracking-[0.08931rem] uppercase"
          >
          ZX9
          SPEAKER
          </h2>
          <p
            class="w-[27.8125rem] text-[#000] opacity-50 text-[0.9375rem] font-normal leading-[1.5625rem] mt-4"
          >
          Upgrade your sound system with the all new ZX9 active speaker. It’s a bookshelf speaker system that offers truly wireless connectivity -- creating new possibilities for more pleasing and practical audio setups.          </p>
          <a
            href="/product-zx9-speaker"
            target="_blank"
            class="flex justify-center items-center mt-6 w-40 h-12 bg-[#D87D4A] text-[#fff] text-[0.8125rem] font-bold leading-normal tracking-[0.0625rem] uppercase"
            >See Product</a
          >
        </div>
      </section>
      <!-- Second Product Of SPEAKERS  -->
      <section
        class="mb-40 mx-[10.31rem] flex justify-between items-center gap-[7.81rem]"
      >
        <!-- Detailes Of The Product -->
        <div class="flex flex-col gap-4">
          <h2
            class="w-[27.8125rem] text-[#000] text-[2.5rem] font-bold leading-[2.75rem] tracking-[0.08931rem] uppercase"
          >
          ZX7
          SPEAKER
          </h2>
          <p
            class="w-[27.8125rem] text-[#000] opacity-50 text-[0.9375rem] font-normal leading-[1.5625rem] mt-4"
          >
          Stream high quality sound wirelessly with minimal loss. The ZX7 bookshelf speaker uses high-end audiophile components that represents the top of the line powered speakers for home or studio use.          </p>
          <a
            href="/product-zx7-speaker"
            target="_blank"
            class="flex justify-center items-center mt-6 w-40 h-12 bg-[#D87D4A] text-[#fff] text-[0.8125rem] font-bold leading-normal tracking-[0.0625rem] uppercase"
            >See Product</a
          >
        </div> 
        <!-- Image Of The Product -->
        <div class="w-[33.75rem]">
          <img
            src="/images/shared/desktop/image-zx7-speaker.jpg"
            alt=""
            class=""
          />
        </div>
      </section>
  
    <Category />
    <BestAudioGear />
  </main>
  <!-- Footer -->
  <Footer />
</Layout>

  
