---
import "@/styles/globals.css";
---

<section
  class="mx-6 mb-[7.5rem] flex flex-col items-center justify-center gap-8 text-center md:mx-10 md:mb-24 lg:mx-[10.31rem] lg:mb-[11.78rem] lg:flex-row-reverse lg:justify-between lg:gap-32 lg:text-left"
>
  <picture>
    <source
      media="(min-width:1024px)"
      srcset="/images/shared/desktop/image-best-gear.jpg"
    />
    <source
      media="(min-width:768px)"
      srcset="/images/shared/tablet/image-best-gear.jpg"
    />
    <img
      src="/images/shared/mobile/image-best-gear.jpg"
      alt=""
      class="rounded-lg"
    />
  </picture>

  <!-- Detailes -->
  <div class="lg-[27.8125rem] flex flex-col gap-4 md:w-[35.8125rem]">
    <h2
      class="text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-[#000] md:max-xl:text-[2.5rem] md:max-xl:leading-[2.75rem] md:max-xl:tracking-[0.08931rem]"
    >
      Bringing you the <span class="text-[#D87D4A]">best</span> audio gear
    </h2>
    <p
      class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#000] opacity-50"
    >
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
  <!-- Product Image -->
</section>
