---
import "@/styles/globals.css";
---

<section class="flex items-baseline gap-[1.88rem] mx-[10.31rem] mt-80">
  <!-- Headphones -->
  <div class="flex flex-col relative">
    <!-- Image Of The Product -->
    <div class="absolute -top-[13rem] z-10">
      <img
        src="/images/shared/desktop/image-category-thumbnail-headphones.png"
        alt=""
        class=""
      />
    </div>
    <!-- Detailes & Shop The Product -->
    <div
      class="w-[21.875rem] h-[12.75rem] rounded-lg bg-[#F1F1F1] flex flex-col justify-center items-center gap-[0.94rem] z-0"
    >
      <h2
        class="text-[#000] text-lg font-bold leading-normal tracking-[0.08038rem] uppercase"
      >
        HEADPHONES
      </h2>
      <!-- Shop Link -->
      <div class="flex gap-4 items-center">
        <a
          href="/headphones"
          class="text-[#000] text-sm font-bold leading-normal uppercase inline-block hover:text-[#D87D4A] transition-all ease-in-out duration-500"
          >Shop</a
        >
        <img
          src="/images/shared/desktop/icon-arrow-right.svg"
          alt=""
          class="inline-block"
        />
      </div>
    </div>
  </div>
  <!-- Speakers -->
  <div class="flex flex-col relative">
    <!-- Image Of The Product -->
    <div class="absolute -top-[13rem] z-10">
      <img
        src="/images/shared/desktop/image-category-thumbnail-speakers.png"
        alt=""
        class=""
      />
    </div>
    <!-- Detailes & Shop The Product -->
    <div
      class="w-[21.875rem] h-[12.75rem] rounded-lg bg-[#F1F1F1] flex flex-col justify-center items-center gap-[0.94rem] z-0"
    >
      <h2
        class="text-[#000] text-lg font-bold leading-normal tracking-[0.08038rem] uppercase"
      >
        SPEAKERS
      </h2>
      <!-- Shop Link -->
      <div class="flex gap-4 items-center justify-center">
        <a
          href="/headphones"
          class="text-[#000] text-sm font-bold leading-normal uppercase inline-block hover:text-[#D87D4A] transition-all ease-in-out duration-500"
          >Shop</a
        >
        <img
          src="/images/shared/desktop/icon-arrow-right.svg"
          alt=""
          class="inline-block"
        />
      </div>
    </div>
  </div>
  <!-- Earphones -->
  <div class="flex flex-col relative">
    <!-- Image Of The Product -->
    <div class="absolute -top-[11rem] z-10">
      <img
        src="/images/shared/desktop/image-category-thumbnail-earphones.png"
        alt=""
        class=""
      />
    </div>
    <!-- Detailes & Shop The Product -->
    <div
      class="w-[21.875rem] h-[12.75rem] rounded-lg bg-[#F1F1F1] flex flex-col justify-center items-center gap-[0.94rem] z-0"
    >
      <h2
        class="text-[#000] text-lg font-bold leading-normal tracking-[0.08038rem] uppercase"
      >
        EARPHONES
      </h2>
      <!-- Shop Link -->
      <div class="flex gap-4 items-center">
        <a
          href="/headphones"
          class="text-[#000] text-sm font-bold leading-normal uppercase inline-block hover:text-[#D87D4A] transition-all ease-in-out duration-500"
          >Shop
        </a>
        <img
          src="/images/shared/desktop/icon-arrow-right.svg"
          alt=""
          class="inline-block"
        />
      </div>
    </div>
  </div>
</section>
