---
import "@/styles/globals.css";
---

<section
  class="mx-[10.31rem] mt-80 flex items-baseline gap-[1.88rem] sm:mx-4 sm:w-[23.4375rem] md:mx-[2.44rem] md:w-[48rem]"
>
  <!-- Headphones -->
  <div class="relative flex flex-col">
    <!-- Image Of The Product -->
    <div class="absolute -top-[13rem] z-10">
      <img
        src="/images/shared/desktop/image-category-thumbnail-headphones.png"
        alt=""
        class=""
      />
    </div>
    <!-- Detailes & Shop The Product -->
    <div
      class="z-0 flex h-[12.75rem] w-[21.875rem] flex-col items-center justify-center gap-[0.94rem] rounded-lg bg-[#F1F1F1]"
    >
      <h2
        class="text-lg font-bold uppercase leading-normal tracking-[0.08038rem] text-[#000]"
      >
        HEADPHONES
      </h2>
      <!-- Shop Link -->
      <div class="flex items-center gap-4">
        <a
          href="/headphones"
          class="inline-block text-sm font-bold uppercase leading-normal text-[#000] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >Shop</a
        >
        <img
          src="/images/shared/desktop/icon-arrow-right.svg"
          alt=""
          class="inline-block"
        />
      </div>
    </div>
  </div>
  <!-- Speakers -->
  <div class="relative flex flex-col">
    <!-- Image Of The Product -->
    <div class="absolute -top-[13rem] z-10">
      <img
        src="/images/shared/desktop/image-category-thumbnail-speakers.png"
        alt=""
        class=""
      />
    </div>
    <!-- Detailes & Shop The Product -->
    <div
      class="z-0 flex h-[12.75rem] w-[21.875rem] flex-col items-center justify-center gap-[0.94rem] rounded-lg bg-[#F1F1F1]"
    >
      <h2
        class="text-lg font-bold uppercase leading-normal tracking-[0.08038rem] text-[#000]"
      >
        SPEAKERS
      </h2>
      <!-- Shop Link -->
      <div class="flex items-center justify-center gap-4">
        <a
          href="/speakers"
          class="inline-block text-sm font-bold uppercase leading-normal text-[#000] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >Shop</a
        >
        <img
          src="/images/shared/desktop/icon-arrow-right.svg"
          alt=""
          class="inline-block"
        />
      </div>
    </div>
  </div>
  <!-- Earphones -->
  <div class="relative flex flex-col">
    <!-- Image Of The Product -->
    <div class="absolute -top-[11rem] z-10">
      <img
        src="/images/shared/desktop/image-category-thumbnail-earphones.png"
        alt=""
        class=""
      />
    </div>
    <!-- Detailes & Shop The Product -->
    <div
      class="z-0 flex h-[12.75rem] w-[21.875rem] flex-col items-center justify-center gap-[0.94rem] rounded-lg bg-[#F1F1F1]"
    >
      <h2
        class="text-lg font-bold uppercase leading-normal tracking-[0.08038rem] text-[#000]"
      >
        EARPHONES
      </h2>
      <!-- Shop Link -->
      <div class="flex items-center gap-4">
        <a
          href="/earphones"
          class="inline-block text-sm font-bold uppercase leading-normal text-[#000] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >Shop
        </a>
        <img
          src="/images/shared/desktop/icon-arrow-right.svg"
          alt=""
          class="inline-block"
        />
      </div>
    </div>
  </div>
</section>
