---
import "@/styles/globals.css";
---

<!-- Start Of Header -->
<header
  class="flex justify-between items-center h-24 bg-[#0E0E0E] text-[#FFFFFF] py-[2.31rem] px-[10.31rem] md:py-[4.63rem] md:px-[2.48rem] md:gap-[29.06rem]"
>
  <!-- Logo -->
  <div class="md:flex md:gap-[2.62rem] md:items-center">
    <button class="link hidden md:inline-block" data-dropdown-button>
      <img src="/images/shared/tablet/icon-hamburger.svg" alt="" class="" />
    </button>
    <img src="/images/shared/desktop/logo.svg" alt="logo" class="" />
  </div>
  <!-- Nav Bar -->
  <nav class="md:hidden">
    <ul
      class="flex justify-between items-center gap-[2.12rem] text-[0.8125rem] font-bold uppercase leading-[1.5625rem] tracking-[0.125rem]"
    >
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/" class="" target="_self">Home</a>
      </li>
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/headphones" class="" target="_self">Headphones</a>
      </li>
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/speakers" class="" target="_self">Speakers</a>
      </li>
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/earphones" class="" target="_self">Earphones</a>
      </li>
    </ul>
  </nav>
  <!-- Cart -->
  <div class="">
    <a href="/checkout" class="" target="_self">
      <img src="/images/shared/desktop/icon-cart.svg" alt="" class="" />
    </a>
  </div>
</header>
<!-- End Of Header -->
