---
import "@/styles/globals.css";
---

<!-- Start Of Header -->
<header
  class="relative flex items-center justify-between bg-[#000] px-6 py-[2.19rem] text-[#fff] after:absolute after:mb-[-6.25rem] after:h-[0.0625rem] after:w-[69.375rem] after:bg-[#fff] after:opacity-[0.104] after:content-[''] md:px-[2.44rem] md:after:opacity-[0.104] lg:px-[10.31rem] lg:after:opacity-20"
>
  <div class="flex items-center justify-between gap-[4.75rem] md:gap-[2.63rem]">
    <button class="lg:hidden" type="button" id="button">
      <img
        src="/images/shared/tablet/icon-hamburger.svg"
        alt="icon-hamburger"
        class=""
      />
    </button>
    <img src="/images/shared/desktop/logo.svg" alt="logo" class="" />
  </div>
  <nav class="sm:hidden md:hidden lg:inline-block">
    <ul class="flex items-center justify-between gap-[2.13rem]">
      <li>
        <a
          href="/"
          class="cursor-pointer text-sm font-bold uppercase leading-[1.5625rem] tracking-[0.125rem] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/headphones"
          class="cursor-pointer text-sm font-bold uppercase leading-[1.5625rem] tracking-[0.125rem] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >HEADPHONES</a
        >
      </li>
      <li>
        <a
          href="/speakers"
          class="cursor-pointer text-sm font-bold uppercase leading-[1.5625rem] tracking-[0.125rem] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >SPEAKERS</a
        >
      </li>
      <li>
        <a
          href="/earphones"
          class="cursor-pointer text-sm font-bold uppercase leading-[1.5625rem] tracking-[0.125rem] transition-all duration-500 ease-in-out hover:text-[#D87D4A]"
          >EARPHONES</a
        >
      </li>
    </ul>
  </nav>
  <div class="">
    <a href="/checkout" class=""
      ><img
        src="/images/shared/desktop/icon-cart.svg"
        alt=""
        class="/cursor-pointer"
      /></a
    >
  </div>
</header>
<!-- End Of Header -->
