---
import "@/styles/globals.css";
---

<!-- Start Of Header -->
<header
  class="flex justify-between items-center h-24 bg-[#0E0E0E] text-[#FFFFFF] py-[2.31rem] px-[10.31rem]"
>
  <!-- Logo -->
  <div class="">
    <img src="/images/shared/desktop/logo.svg" alt="logo" class="" />
  </div>
  <!-- Nav Bar -->
  <nav class="">
    <ul
      class="flex justify-between items-center gap-[2.12rem] text-[0.8125rem] font-bold uppercase leading-[1.5625rem] tracking-[0.125rem]"
    >
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/" class="" target="_blank">Home</a>
      </li>
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/headphones" class="" target="_blank">Headphones</a>
      </li>
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/speakers" class="" target="_blank">Speakers</a>
      </li>
      <li class="hover:text-[#D87D4A] transition-all ease-in-out duration-500">
        <a href="/earphones" class="" target="_blank">Earphones</a>
      </li>
    </ul>
  </nav>
  <!-- Cart -->
  <div class="">
    <a href="/checkout" class="" target="_blank">
      <img src="/images/shared/desktop/icon-cart.svg" alt="" class="" />
    </a>
  </div>
</header>
<!-- End Of Header -->
